.tech-section {
    padding: 100px 10%;
    background-color: #050505;
    text-align: center;
}

.tech-section h2 {
    font-size: 40px;
    margin-bottom: 60px;
    color: white;
    letter-spacing: 2px;
}

.tech-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.tech-card {
    background: #0f0f0f;
    padding: 40px;
    border-radius: 20px;
    flex: 1;
    text-align: left;
    border: 1px solid #222;
    cursor: default;
}

.tech-card h1 {
    color: #222;
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 20px;
}

.tech-card:hover h1 {
    color: #ff4141; /* Transition to red on hover */
    transition: 0.4s;
}

.tech-card h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #fff;
}

.tech-card p {
    color: #888;
    line-height: 1.5;
}

@media(max-width: 768px) {
    .tech-cards { flex-direction: column; }
}