.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 100px;
    padding: 60px 0 30px; /* More padding */
    background-color: #1a1a1a; /* Dark Footer */
    color: white;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: white;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 1px;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #ddd;
    font-size: 18px;
}

.footer-links li {
    cursor: pointer;
    transition: color 0.3s;
}

.footer-links li:hover {
    color: #ff4141;
}

.footer-social-icon {
    display: flex;
    gap: 20px;
}

.footer-icons-container {
    padding: 12px;
    background: #333; /* Darker box for icons */
    border: 1px solid #444;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer-icons-container:hover {
    background: #ff4141;
    border-color: #ff4141;
    transform: translateY(-5px);
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    margin-bottom: 20px;
    color: #888;
    font-size: 14px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 1px;
    background: #444;
}

@media(max-width: 800px) { .footer-links { gap: 20px; font-size: 14px; } .footer-logo p { font-size: 28px; } }